<%- include('header'); -%>
<div class="d-flex justify-content-center text-align-center flex-column">
  <h1>Attendace</h1>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-row w-25 mb-5">
      <label for="grade" class="p-3">Class</label>
      <select class="form-control" id="grade" name="grade">
        <% for( let grade of locals.grades ) { %>
        <option value="<%= grade.gradeName %>"><%= grade.gradeName %></option>
        <% } %>
      </select>
    </div>
    <div class="d-flex flex-row w-25">
      <label for="sectionName" class="p-3">sectionName</label>
      <select class="form-control" id="sectionName" name="sectionName">
        <% for( let section of locals.grades[0].sections ) { %>
        <option value="<%= section %>"><%= section %></option>
        <% } %>
      </select>
    </div>
  </div>
  <form action="/attendance" method="POST" id="attendanceForm">
    <div class="d-flex justify-content-center text-align-center flex-column">
      <table class="table" id="attendanceList">
        <thead>
          <tr>
            <th>Row</th>
            <th>Registration Number</th>
            <th>Name</th>
            <th>Class</th>
            <th>Present</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </form>
</div>
<%- include('footer'); -%>
<script>
  // variables from ejs to script tag
  const grades = JSON.parse(`<%- JSON.stringify(grades) %>`);

  function populateSections(event) {
    const gradeName = event.target.value;

    for (let grade of grades) {
      // console.log(grade);
      // console.log(grade.gradeName ==/ gradeName);
      // console.log(gradeName);
      if (grade.gradeName == gradeName) {
        if (grade.sections.length == 0) {
          console.log(document.querySelector("#sectionName").value);
          // document.querySelector("#sectionName").value = "invalid";
        } else {
          const sections = document.querySelector("#sectionName");
          for (let section of grade.sections) {
            const newOption = document.createElement("option");
            newOption.value = section;
            newOption.text = section;
            sections.add(newOption);
          }
        }
        populateStudents();
        break;
      }
    }
  }

  async function populateStudents() {
    const grade = document.querySelector("#grade").value;
    const sectionName = document.querySelector("#sectionName").value;
    // console.log(grade);
    // console.log(sectionName);

    fetch(`/attendanceStudents/${grade}/${sectionName}`, {
      method: "GET", // *GET, POST, PUT, DELETE, etc.
      mode: "cors", // no-cors, *cors, same-origin
      cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
      credentials: "same-origin", // include, *same-origin, omit
      headers: {
        "Content-Type": "application/json",

        // 'Content-Type': 'application/x-www-form-urlencoded',
      },
      redirect: "follow", // manual, *follow, error
      referrerPolicy: "no-referrer",
    })
      .then((response) => response.json())
      .then((students) => {
        // console.log(st);
        const tableBody = document
          .querySelector("#attendanceList")
          .getElementsByTagName("tbody")[0];

        for (let i = tableBody.rows.length - 1; i >= 0; i--) {
          tableBody.deleteRow(i);
        }

        for (let i = 0; i < students.length; i++) {
          const newRow = tableBody.insertRow(tableBody.rows.length);
          newRow.innerHTML = `<tr>
              <th>${i + 1}%></th>
              <td>${students[i].registrationNumber}%></td>
              <td>${students[i].studentName}%></td>
              <td>${students[i].grade}%></td>
              <td><input type="checkbox" style="width: 30px; height: 30px;" /></td>
            </tr>`;
        }

        if (students.length > 0) {
          const newButton = document.createElement("BUTTON");
          newButton.classList.add("btn");
          newButton.classList.add("btn-primary");
          newButton.innerHTML = "Submit";
          document.querySelector("#attendanceForm").appendChild(newButton);
        }
      });
  }

  window.onload = (event) => {
    // console.log("page is fully loaded");
    populateStudents();
    document
      .querySelector("#grade")
      .addEventListener("change", function (newEvent) {
        populateSections(newEvent);
        // populateStudents();
      });

    document
      .querySelector("#sectionName")
      .addEventListener("change", populateStudents);
  };
</script>
